<div class="container-fluid">
    <div class="row">
        <div class="col-3" style="background-color: rgb(176, 176, 176); height: 100vh;">
            <mat-card class="mt-2">
                <form>
                    <mat-form-field appearance="outline">
                        <mat-label>What you need to-do ?</mat-label>
                        <input matInput placeholder="To-do">
                    </mat-form-field>
                    <button mat-flat-button color="primary">Add</button>
                </form>
            </mat-card>
        </div>
        <div class="col-9">2</div>

    </div>
</div>