<div class="container-fluid">
    <div class="row" style="background-color: #AEDBCE;">
        <div class="col-3" style="height: 100vh;">
            <mat-card class="mt-2">
                <form [formGroup]="toDoForm">
                    <mat-form-field appearance="outline">
                        <mat-label>What you need to-do ?</mat-label>
                        <input formControlName="item" matInput placeholder="To-do">
                    </mat-form-field>
                    <h5 *ngIf="toDoForm.invalid && toDoForm.touched">Fill in this field before adding</h5>
                    <button (click)="addTask()" color="primary"[disabled]="toDoForm.invalid">Add</button>
                </form>
            </mat-card>
        </div>
        <div class="col-9">
            <div cdkDropListGroup>
                <div class="row">
                    <div class="col-4">
                        <!-- todo -->
                        <div class="example-container">
                            <h2>To do</h2>
                            <div
                              cdkDropList
                              [cdkDropListData]="tasks"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of tasks" cdkDrag>{{ item.description }}</div>
                            </div>
                          </div>
                    </div>
                    <div class="col-4">
                        <!-- in progress -->
                        <div class="example-container">
                          <h2>In Progress</h2>
                          <div
                            cdkDropList
                            [cdkDropListData]="inProgress"
                            class="example-list"
                            (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let item of inProgress" cdkDrag>{{ item.description }}</div>
                          </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <!-- done -->
                        <div class="example-container">
                          <h2>Done</h2>
                          <div
                            cdkDropList
                            [cdkDropListData]="done"
                            class="example-list"
                            (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let item of done" cdkDrag>{{ item.description }}</div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
